# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

.build

.dynamodb

.nyc_output

coverage

package-lock.json

out-logger.json

.DS_Store